*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

.shimzy-container{
    /* max-width: 1100px; */
    width: 100%;
    /* background-color: gainsboro; */
    height: 80%;
    /* padding: 20px; */
    margin: 0 auto;
}


.shimzy-container .nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: brown;
    height: 70px;
    align-items: center;
}

.nav-bar h1{
    font-size: 18px;
    text-align: center;
    width: 20%;
    margin: 0;
}

.nav-bar ul{
    display: flex;
    /* margin-left: 20px; */
    list-style: none;
    
}

.nav-bar li{
    display: inline-block;
    margin: 20px;
}

.nav-bar a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: aqua;
}

.nav-bar a:hover{
    color: black;
}

.shimzy-container .main-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 150px;
    margin-left: 150px;
}

.logo-content p{
    margin-bottom: 20px;
}

.logo-content a{
    background-color: rgb(82, 82, 215);
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    
}

.logo-content a:hover{
    color: rgb(115, 99, 130);
}

.logo-content span{
    color: blue;
}

.shimzy-container .about-us{
    display: flex;
    align-items: center;
    background-color: brown;
    justify-content: space-between;
    width: 100%;
    margin-right: 200px;
    margin-bottom: 50px;
    /* height: 500px; */
}

.about-image img{
    width: 500px;
    height: 200px;
    margin: 150px 100px;
    background-color: none;
    
}

.about-us .about-text{
    margin-right: 150px;
    color: #fff;

}

.about-text p{
    margin-bottom: 20px;
    font-size: small;
    margin-top: 10px;

}

.about-text a{
    background-color:  rgb(82, 82, 215);
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    color: #fff;
    font-size: small;

}

.about-text h3{
    text-decoration: underline;
    color: #fff;
    margin-bottom: 10px;
}

.about-text a:hover{
    color: red;
}

.about-text span{
    color: aqua;
}

.gallery h1{
    text-align: center;
    padding-top: 30px;
}

.shimzy-container .product-gallery{
    max-width: 960px;
    padding: 20px;
    margin: 70px;
    /* background-color: aqua; */
    border: #fff 1px solid;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    
    
}

.product-gallery span{
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    padding: 15px;
    
}



.product-gallery span img{
    width: 100%;
    height: 300px;
    /* background-color: aqua; */
    gap: 20px;
    
}


.footer{
    background-color: brown;
    width: 100%;
    /* margin: 20px; */
    padding: 20px;
}

.footer span{
    color: aqua;
}








 

